# My data file
todo_cli/to_do_list.json
todo_cli/test.json
todo_cli/ROADMAP.md
todo_flask/tasks.json
todo_flask/instance/
todo_flask/uploads/
_README.md
todo_flask/credentials.json
credentials.json

# My temporary test file
todo_cli/_scratchpad.py
todo_flask/_scratchpad.py
_scratchpad.py

#virtual environment
todo_flask/venv/

#cache
todo_flask/__pycache__/

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
instance/
*.db

# Uploads folder
uploads/

# Environment variables
.env
credentials.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db