# My data file
v1.3_CLI/to_do_list.json
v1.3_CLI/test.json
v1.3_CLI/ROADMAP.md
v2.1_Flask/tasks.json
v2.1_Flask/instance
_README.md


# My temporary test file
v1.3_CLI/_scratchpad.py
v2.1_Flask/_scratchpad.py

#virtual environment
v2.1_Flask/venv/

#cache
v2.1_Flask/__pycache__

