{% extends "base.html"%} {% block head %}
<h1 style="text-align: center">Welcome To the todo app</h1>
{% endblock %} {% block content %}

<div class="content">
  <h1 style="text-align: center">Update Task</h1>

  <form method="POST">
    <label for="content">Task:</label>
    <input
      type="text"
      name="content"
      id="content"
      value="{{ task.content }}"
      required
    />
    <!-- ^required means the browser won’t let the user submit the form if this field is empty.-->

    <label for="due">Due Date:</label>
    <input
      type="date"
      name="due"
      id="due"
      value="{{ task.due.strftime('%Y-%m-%d') if task.due else '' }}"
    />

    <input type="submit" value="Update Task" />
  </form>

  {% endblock %}
</div>
