<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/main.css')}}">
        
        {% block head %}
        
        {% endblock %}
        
    </head>
    
    <body>
        <nav class="navbar">
            <ul class="nav-links">
                {% if current_user.is_authenticated %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/register">Sign-up</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
        
    </body>

</html>
